root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
tab_width = 4
trim_trailing_whitespace = true
max_line_length = 120

[*.md]
trim_trailing_whitespace = false

[*.gradle]
indent_style = tab

[*.{kt,kts}]
indent_style = tab
ij_kotlin_blank_lines_after_class_header = 1
ij_kotlin_method_call_chain_wrap = on_every_item

[*.java]
indent_style = tab
ij_java_blank_lines_after_class_header = 1
ij_java_method_call_chain_wrap = on_every_item
ij_java_blank_lines_around_field = 1
ij_java_method_parameters_wrap = on_every_item

[*.properties]
indent_style = space
indent_size = 2